In [3]:
import pandas as pd
import dash
from dash import html
from dash import dcc
from dash.dependencies import Input, Output
import plotly.express as px

In [4]:
spacex_df = pd.read_csv("spacex_launch_dash.csv")
max_payload = spacex_df['Payload Mass (kg)'].max()
min_payload = spacex_df['Payload Mass (kg)'].min()

In [22]:
max_payload

9600.0

In [23]:
min_payload

0.0

In [5]:
spacex_df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0

In [7]:
data = spacex_df.groupby('Launch Site')['class'].sum()
data

Launch Site
CCAFS LC-40      7
CCAFS SLC-40     3
KSC LC-39A      10
VAFB SLC-4E      4
Name: class, dtype: int64

In [20]:
data = spacex_df[spacex_df['Launch Site'] == 'CCAFS LC-40']
data = data.groupby('class')['class'].count()
data

class
0    19
1     7
Name: class, dtype: int64

In [17]:
data.shape

(26, 7)

In [21]:
data.index

Index([0, 1], dtype='int64', name='class')

In [26]:
spacex_df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0

In [37]:
data = spacex_df[spacex_df['Launch Site'] == 'CCAFS LC-40']
data = data[data['Payload Mass (kg)'] >= 0]
data = data[data['Payload Mass (kg)'] <= 1000]
data

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0
13,13,15,CCAFS LC-40,0,570.0,F9 v1.1 B1013,v1.1